################### Locale Set ###########
[InputStrings]
#[CN, JA, DE, FR, KO, TW, Super,Compose]
InputLanguage=Super

#####################################################    Environments    ##################################################################
[Environments]
VSMIPAddress=10.117.169.7
VSMUserName=admin
VSMPassword=!QAZ2wsx

[ESXi host]
hostUserName=root
hostPassword=ca$hc0w
host001_IPAddress=10.117.169.2
host002_IPAddress=

[Edge Node]
edgeNodeIP=10.117.169.104
edgeNode2_IP=
edgeUserName=admin
edgePasswd=!QAZ2wsx


########################################################################
[Routing]
IntraTier0TransitNetwork=169.11.1.0/24
IntraTier1TransitNetwork=169.18.1.0/24
DownlinkRouterPortIPAdress=192.168.0.1
UplinkRouterPortIPAddress=172.16.0.1
Tier0Tier1TransitNetwork=10.10.10.0/24
staticRoute_Network=192.168.100.0/24
#####the static route next hop ip address should belong the RouterPort network
StaticRoute_NextHopIP_ForDownlinkRouterPort=192.168.0.3
StaticRoute_NextHopIP_ForUplinkRouterPort=172.16.0.3
#####IPPrefix List -- ge,le should be between 1 - 32  -- action: DENY or PERMIT
ipPrefixList_Network=192.168.3.1/24
ipPrefixList_ge=26
ipPrefixList_le=31
ipPrefixList_action=DENY
##### Route Map -- weight: 1-65535 -- action: DENY or PERMIT -- community: 1-65535, NO_ADVERTISE, NO_EXPORT, NO_EXPORT_SUBCONFED
routeMap_AS=7
routeMap_weight=500
routeMap_MED=1000
routMap_action=DENY
routeMap_community=2000
#####Routing BGP
BGP_Config_enabled=true
BGP_Config_ecmp=true
BGP_Config_graceful_restart=true
BGP_Config_AS_number=7
BGP_Config_prefix=1.1.1.1/24
BGP_Config_summary_only=true

BGP_Neightbor_Address=1.1.1.1
BGP_Neightbor_RemoteAS=7
#####Routing BFD
BFD_peerIPAddress=1.1.1.1
BFD_peerEnable=true
BFD_peer_transmit_interval=1001
BFD_peer_receive_interval=1001
BFD_peer_declare_dead_multiple=4
##### NAT Rule
NAT_source_Network=1.1.1.1
NAT_translated_Network=2.2.2.2
NAT_destination_Network=3.3.3.3
#####Route Advertisement
Advertise_network=1.1.1.0/24

[Inventory]
ipSets_IPAddress = 192.168.1.1
macSet_Address=11:22:33:44:55:66
#####ipPool_CIDR and ipPool_Range ,ipPool_gateway should be belong the same segment
ipPool_Range_start=192.168.1.1
ipPool_Range_end=192.168.1.100
ipPool_CIDR=192.168.1.0/24
ipPool_gateway=192.168.1.254
ipPool_DNSServer=10.10.10.1

[DHCP]
##domainName=crosshair.com
DHCP_dhcpServerIP=10.10.10.1/24
DHCP_dnsServerIP=1.1.1.1
DHCP_gatewayIP=10.10.10.255
DHCP_staticRouteNetwork=192.168.1.0/24
DHCP_staticRouteNextHop=192.168.1.2
DHCPRelayServerIP=2.2.2.2


