<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="PreCondition" parallel="false">

	<test name="AllSet" preserve-order="true">
	
		<groups>
			<define name="RunAvailableGroups">
	 			<include name="CombineComponents"></include>
			</define>
			
			<define name="ExcludeGroups">
				<include name=""></include>
			</define>
			
			<run>
				<include name="RunAvailableGroups"></include>
			</run>
		</groups>

		<packages>
			<package name="com.vmware.transformer.PreCondition.*"></package>
		</packages>
	</test>
	
</suite>